    
        body {
            min-height: 100vh;
            position: relative;
            background-image: url('wallpaper.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            backdrop-filter: blur(10px);
            background-attachment: fixed;
        }